<div class=wholebox>
     <%= image_tag "freecon.png" %>
<div class=post>
     
        <%= form_for @content do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.label :title, '제목' %><br><br>
            <%= f.text_field :title , size:"50"%><br><br>
            <%= f.label :body, '내용' %><br><br>
            <%= f.text_area :body, size: "50x10" %><br><br>
            <%= f.submit '글쓰기'%>
        <%end%>

</div>
<br><br>
<%=link_to '홈으로', content2s_path%>
</div>