<div class=wholebox>
<img src="/assets/free.png" width="200">

<div class=show>
        <h3>
            <%= @content.title %>
        </h3><br>
        <p>
            <%= simple_format(@content.body) %>
        </p>
        
        <hr>
        <div class="replyInput">
            <% if @current_user!=nil %>
            <%= form_for [@content, Comment2.new] do |f|%>
                <%= f.text_area :body,class:"replyInputCss",placeholder:"댓글작성" %>
                <%= f.submit '등록하기'%>
            <%end%>
            <% end %>
</div>
<br>
<div class="replyCss">
    
    <br>
    <% @content.comment2s.each do |comment| %>
        <%= comment.user.realname %>(<%= comment.user.stringid %>)님: <%= comment.body %><br><br>
    <% end %>
    
</div>

    

<br>

 <%= link_to '목록으로', content2s_path %>
 </div>